html, body {
    height: 100%;
    margin: 0;
}

.layout{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

app-header{
    grid-row: 1;
}

.content{
    grid-row: 2;
    padding: 20px;
    overflow-y: auto;
}

app-footer{
    grid-row: 3;
}